@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Edu+SA+Beginner&family=Great+Vibes&family=Marcellus&family=Playfair+Display:wght@600&family=Raleway:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  background-color: rgb(140, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: black;
  height: 60%;
  width: 45%;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 19px 10px 28px -3px rgba(0,0,0,0.5);
}
.container h1{
    color: #8CFFFF;
    font-family: 'Marcellus', serif;
}
.container
h2 {
  color: orange;
  font-family: 'Marcellus', serif;
  font-size: 25px;
}

.input,
.output {
  display: flex;
  align-items: center;
}

div input {
  width: 400px;
  height: 30px;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  border: none;
}

div input:focus{
    outline: none;
    background-color: rgb(228, 228, 228);
    transition: 0.2s ease-in-out;
    cursor: text;
}

div span button {
  width: 140px;
  height: 53px;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  padding: 0 4px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  background-color: orange;
}

div span button:hover {
  cursor: pointer;
  background-color:rgb(140, 255, 255) ;
  transition: 0.2s ease-in-out;
}


@media (max-width:600px){
  .container{
        width: 90%;
        height: 60%;
    }
  .container h1{
        font-size: 20px;
    }
  .container h2{
        font-size: 20px;
    }
  div input{
        width: 170px;
        height: 25px;
    }
    div span button{
        width: 100px;
        height: 47px;
        font-size: 14px;
        font-weight: 800;
        padding: 3px;
    }
     

}